body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #2e2e2e;
}
.satu {
  position: fixed;
  width: 100%;
  height: 57px;
  background-color: rgb(61, 70, 67);
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
}

.satu ul li {
  list-style-type: none;
  display: inline;
}
.satu a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  /* font-size: 21px; */
}

.table-registrasi {
  border-collapse: collapse;
}
.table-registrasi tr td {
  padding: 20px;
  text-align: right;
}
